In [2]:
# Exercise 1

# Define your details
name = "PeterParker"
student_number = "ST1001"
email = "PeterParker@spiderman.com"

# Print the details
print(name)
print(student_number)
print(email)

PeterParker
ST1001
PeterParker@spiderman.com

Exercise **2**

In [4]:
# Exercise 2

# Define your details with escape sequences
name = "PeterParker\n"
student_number = "ST1001\n"
email = "PeterParker@spiderman.com\n"

# Print the details
print(name)
print(student_number)
print(email)

PeterParker

ST1001

PeterParker@spiderman.com

Exercise 3

In [5]:
# Exercise 3

# Define the numbers
num1 = 14
num2 = 7

# Perform calculations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

# Print the results
print(f"{num1} + {num2} = {addition}")
print(f"{num1} - {num2} = {subtraction}")
print(f"{num1} * {num2} = {multiplication}")
print(f"{num1} / {num2} = {division}")

14 + 7 = 21
14 - 7 = 7
14 * 7 = 98
14 / 7 = 2.0

**Exercise 4**

In [6]:
# Exercise 4

# Print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

**Exercise 5**

In [7]:
# Exercise 5

# Print the sentence with quotation marks and line break
print("\"SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

**Exercise 6**

In [8]:
# Exercise 6

print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entri2023
Entri*2023

**Exercise 7**

In [9]:
# Exercise 7

# Define the variables
num = 23
textnum = "57"
decimal = 98.3

# Print the types of each variable
print(type(num))
print(type(textnum))
print(type(decimal))

# Calculate the sum
sum_of_variables = num + int(textnum) + decimal

# Print the sum and its type
print("Sum:", sum_of_variables)
print("Type of sum:", type(sum_of_variables))

<class 'int'>
<class 'str'>
<class 'float'>
Sum: 178.3
Type of sum: <class 'float'>

**Exercise 8**

In [10]:
# Exercise 8

# Define the variables
days_in_year = 365
minutes_in_hour = 60
hours_in_day = 24

# Calculate the total minutes in a year
total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour

# Print the result
print(f"The total number of minutes in a year is {total_minutes_in_year}.")

The total number of minutes in a year is 525600.

**Exercise 2**

In [11]:
# Exercise 9

# Ask the user to enter their name
name = input("Please enter your name: ")

# Print the greeting
print(f"Hi {name}, welcome to Python programming :)")

Please enter your name: Peter Parker
Hi Peter Parker, welcome to Python programming :)

**Exercise** 10

In [12]:
# PoundsToDollars.py

# Define the conversion rate (example rate, you can update it)
conversion_rate = 1.35

# Ask the user to enter an amount in pounds
pounds = float(input("Please enter amount in pounds: "))

# Calculate the amount in dollars
dollars = pounds * conversion_rate

# Print the result
print(f"£{pounds} are ${dollars:.2f}")

Please enter amount in pounds: 2
£2.0 are $2.70