### Data structures in Python

**Topic :List**

In [2]:
import random

# Q1. Create a list of 5 random numbers and print the list
random_numbers = [random.randint(1, 100) for _ in range(5)]
print("Original list:", random_numbers)

# Q2. Insert 3 new values to the list and print the updated list
new_values = [random.randint(1, 100) for _ in range(3)]
random_numbers.extend(new_values)
print("Updated list:", random_numbers)

# Q3. Use a for loop to print each element in the list
for number in random_numbers:
    print(number)

Original list: [48, 1, 62, 22, 72]
Updated list: [48, 1, 62, 22, 72, 14, 87, 90]
48
1
62
22
72
14
87
90

**Topic: Dictionary**

In [3]:
# Q1. Create a dictionary
# Create a dictionary with specified keys and values
person_info = {
    'name': 'John',
    'age': 25,
    'address': 'New York'
}

# Print the dictionary
print("Original dictionary:", person_info)

Original dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [4]:
# Q2. Add a new key-value pair to the dictionary
# Add a new key-value pair to the dictionary
person_info['phone'] = '1234567890'

# Print the updated dictionary
print("Updated dictionary:", person_info)

Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

**Topic: Set**

In [7]:
# Q1. Create a set with values 1, 2, 3, 4, and
# Create a set with specified values
my_set = {1, 2, 3, 4, 5}

# Print the set
print("Original set:", my_set)

Original set: {1, 2, 3, 4, 5}

In [9]:
# Q2. Add the value 6 to the set
# Add the value 6 to the set
my_set.add(6)

# Print the updated set
print("Set after adding 6:", my_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [10]:
# Q3. Remove the value 3 from the set
# Remove the value 3 from the set
my_set.remove(3)

# Print the updated set
print("Set after removing 3:", my_set)

Set after removing 3: {1, 2, 4, 5, 6}

**Topic: Set**

In [11]:
# Q1. Create a tuple with values 1, 2, 3, and 4
# Create a tuple with specified values
my_tuple = (1, 2, 3, 4)

# Print the tuple
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4)

In [12]:
# Q2. Print the length of the tuple
# Print the length of the tuple
print("Length of the tuple:", len(my_tuple))

Length of the tuple: 4